body{
    background-color: #EDF1F3;
}
.bg{
    float: right;
    height: 85vh;
    margin-right: 8%;
    margin-top: 0%;
}
.text{
    margin-left: 12%;
    margin-top: 12%;
    width: 35%;
    float: left;
}
.texta{
    margin-left: 10%;
    margin-top: 12%;
    width: 30%;
    float: left;
}
.one{
    float: left;
    height: 90vh;
    margin-left: 10%;
    margin-top: 2%;
}
.text1{
    margin-right: 12%;
    width: 30%;
    float: right;
}
.heading{
    font-size: 55px;
    letter-spacing: 1.5px;
    color: #3F4255;
}
h2{
    color:#3F4255;
}
h3{
    color: #0091FB;
    letter-spacing: 3px;
    font-size: 12px;
}
h5{
    letter-spacing: 1.5px;
}
.download{
    color: white;
    background-color: #0091FB;
    border: #0091FB;
    width: 200px;
    height: auto;
    padding: 3%;
    border-radius: 5px;
    box-shadow: 20px 20px 50px #B0C8F3;
    letter-spacing: 1.5px;
    font-size: 11px;
    opacity: 0.8;
    transition: 1s;
}
.download:hover{
    cursor: pointer;
    opacity: 1;
}

