.appointments{
    align-items: center;
    text-align: center;
}
.search{
    width: 1000px;
    height: 50px;
    padding: 1%;
}
h2{
    text-align: left;
    margin-left: 11%;
}

.cards-container{
    margin-left: 14%;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 1000px;
    height: 250px;
    border-radius: 5px;
    margin-left: 4%;
    margin-bottom: 5%;
    float: left;
    padding: 2%;
    vertical-align: middle;
}
  
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
 img{
     width: fit-content;
 }
 
 .card-image{
    float: left;
    height: 80%;
    width: 25%;
}  
.container {
    float: right;
    width: 75%;
    text-align: left;
}
.bookappointment{
    background-color: #F59D17;
    border: #F59D17;
    height: 30px;
    border-radius: 5px;
}
.bookappointment:hover{
    cursor: pointer;
}
.doctorimage{
    width: 140px;
    height: 140px;
}

option{
    width: 1000px;
}

datalist{
    width: 1000px;
}