body{
    background-image: url(background.png);
    background-repeat: no-repeat;
	background-attachment: fixed;
    background-size: cover;
}
.medistore{
    align-items: center;
    text-align: center;
}
.search{
    width: 1000px;
    height: 50px;
    padding: 1%;
}
h2, h3{
    text-align: left;
    margin-left: 11%;
}
.cards-container{
    margin-left: 7%;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 18%;
    height: auto;
    border-radius: 5px;
    margin-left: 4%;
    margin-bottom: 5%;
    padding-bottom: 1%;
    float: left;
}
  
.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}
  
img {
    border-radius: 5px 5px 0 0;
}
  
.container {
    padding: 2px 16px;
}

.bookappointment{
    height: 40px;
    padding: 1%;
    width: 150px;
    font-size: 14px;
    background-color: #0091fb;
    border: none;
    color: white;
    letter-spacing: 1px;
    border-radius: 5px;
    cursor: pointer;
}